<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226621537996-tj8bmtlucr4fdhtv58tvk20bv3smhi0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226621537996-tj8bmtlucr4fdhtv58tvk20bv3smhi0v</string>
	<key>API_KEY</key>
	<string>AIzaSyDTx3uCPPHCSXwJXcL6hVLK5REFxwcArB4</string>
	<key>GCM_SENDER_ID</key>
	<string>226621537996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginapp</string>
	<key>PROJECT_ID</key>
	<string>loginapp-403c3</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapp-403c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226621537996:ios:ad6badf34d226689370c69</string>
</dict>
</plist>